---
export const prerender = true;

import Base from '@/layouts/Base.astro';
---

<Base>
  <div class="hero min-h-screen">
    <div class="hero-content flex flex-col text-center">
      <h1 class="text-6xl font-bold">404</h1>
      <p class="text-2xl">The page your are looking for does not exist</p>
    </div>
  </div>
</Base>
