---
import FileNode from '@/components/FileNode.astro';
// import { Code } from 'astro:components';

import type { Files } from '@/types/files';

interface Props {
  files: Files;
}

const { files } = Astro.props;
---

<div class="flex flex-row">
  <ul class="menu menu-xs bg-base-200 rounded-box w-full max-w-xs">
    {files.children?.map((node) => <FileNode {...node} />)}
  </ul>
  <!-- <Code lang="rust" /> -->
</div>
